<div class="admin">
<img src="https://cdn3d.iconscout.com/3d/premium/thumb/administrator-5691513-4741054.png" height="100%" width="200px" alt="">
<h2>Admin</h2>
<p>admin@gmail.com</p>
</div>

<mat-divider></mat-divider>

<div class="pages">
    <h3>Pages</h3>
    <a routerLink="">Dashboard</a>
    <a routerLink="gallery">Gallery</a>
    <a routerLink="employees">Employee</a>
</div>

<mat-divider></mat-divider>

<div class="tools">
    <h3>Tools</h3>
    <a routerLink="add-employee"><mat-icon>person</mat-icon>Add Employee</a>
    <a routerLink="lead"><mat-icon>people</mat-icon>Leads</a>
</div>