
<!-- card -->
<div class="card">
    <mat-card>
        <app-card bg="orange" icon="import_contacts" content="Admissions" total="3000" >
        </app-card>
    </mat-card>

    <mat-card>
        <app-card bg="green" icon="home" content="Placement" total="2000" >

        </app-card>
    </mat-card>

    <mat-card>
        <app-card bg="blue" icon="person" content="Student" total="3000" >

        </app-card>
    </mat-card>

    <mat-card>
        <app-card bg="red" icon="group" content="Employee" total="2000" >

        </app-card>
    </mat-card>

</div>
<!-- area chart -->
<div>
    <app-area-chart></app-area-chart>
</div>
<!-- table  and pie chart--> 
<div class="parent">
    <div> 
    <app-table></app-table>
    </div>

    <div>
    <app-pie-chart></app-pie-chart>
    </div>
</div>